body{
  font-family: Helvetica Neue, sans-serif;
  background-color:#2e4054;
  color:#bed2e0;
}
.row:after{
  content:"";
  display:table;
  clear:both;
}
.row{
  border-bottom: 1px #bed2e0 dashed;
}
/*img{filter: opacity(30%);}*/
.colArtist{float:left;width:65%;padding:10px 20px;}
.colImg{float:left;width:10%;height:75px;padding:5px;}
.colTime{float: left;width: 10%;text-align: right;margin: 10px 0px;}
/*iframe{
  border:none;
}*/
.contain{
  position: relative;
}
.bottomText{
  /*border-radius: 10px;*/
  background-color: #bed2e070;
  color: #2e4054;
  /*opacity: 0.4;*/
  position: absolute;
  bottom: 4px;
  left:0px;
  width: 350px;
  font-size: small;
  text-align: center;
}

@media (max-width:600px) {
  body{
    font-size: small;
  }
  #nowPlaying{
    text-align: center;
  }
  #nowPlaying img, .bottomText{
    width: 300px;
  }
  .bottomText{left:30px;}
  .colImg{padding:0px;width:auto;}
  .colTime{padding: 0px;}
  .colArtist{padding: 5px;}
}
