body{
  font-family: Helvetica Neue, sans-serif;
  background-color:#2e4054;
  color:#bed2e0;
}
.row:after{
  content:"";
  display:table;
  clear:both;}
.colArtist{float:left;width:75%;padding:0px 10px;}
.colImg{float:left;width:10%;height:75px;padding:5px;}
/*iframe{
  border:none;
}*/

@media (max-width:600px) {
  body{
    font-size: small;
  }
  #nowPlaying{
    text-align: center;
  }
  #nowPlaying img{
    width: 300px;
  }
  .colImg{padding:0px;width:auto;}
  .colArtist{padding: 4px;}
  .colTime{padding: 4px;}
}
