:root{
  --smoke: #2e4054;
  --wine: #cc274c;
  --dark-smoke:#6a7285;
  --light-sky:#bed2e0;
  --darkish-sky:#bed2e040;
  --lemon: #ffeea6;
}
body{
  font-family: Helvetica Neue, sans-serif;
  background-color: var(--smoke); /*blackish#333;#2d2d2d;*/
  color:var(--light-sky);
  margin:0px;
}
a{
  text-decoration: none;
  color: var(--light-sky);
}
.smoke-bkg{
  background-color: var(--dark-smoke);
  border-radius: 10px;
}
#topBtn{
  display: none;
  position: fixed;
  bottom: 100px;
  right:15px;
  z-index: 99;
  border: none;
  background-color: var(--light-sky); /*var(--wine);*/
  /*color: #bed2e0;*/
  border-radius: 70px;
  width: 48px;
  height: 48px;
}
#topBtn::before{
  color: var(--smoke);
  font-size: 2em;
  content: "\22bc";
}
#music{padding-top: 30px;}
/* Bottom menu and player*/
ul{list-style-type: none;}
ul, li{margin: 0px;padding: 5px;}
#currSong{display: none;}
#player{
  display: block;
  width: 100%;
  background-color: var(--dark-smoke);/*#333*/;
  padding: 5px 0px;
  height: 48px;
}
#player img{
  padding-top: 5px;
}
#player ul{
  padding: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#player ul li a{
  display: inline-flex;
  align-items: center;/*font-size: .8rem;*/
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
#player ul li{flex: 1;}

/*Equalizer elem anim*/
.equalizer {
  width: 80px;
  height: 35px;
  overflow: hidden;
  position: absolute;
  /*top: 46px;left: 260px;*/
  right: 10px;
}
.equalizer > div {
  width: 80px;/*45px;*/
  height: 100px;
  position: absolute;
  top: 5px;
  left: 0;
}
.equalizer span {
  display: block;
  width: 5px;
  height: 10%;
  margin: 25% 1px 0 2px;
  float: left;
  background: var(--light-sky);
}
.no-audio span{
  background: var(--smoke);
}
.equalizer span:nth-child(1) {
  animation: load 1s 1.2s infinite linear;
}
.no-audio span:nth-child(1){
  animation: none !important;
}
.equalizer span:nth-child(2) {
  animation: load 1s 0.5s infinite linear;
}
.no-audio span:nth-child(2){
  animation: none !important;
}
.equalizer span:nth-child(3) {
  animation: load 1s 1.4s infinite linear;
}
.no-audio span:nth-child(3){
  animation: none !important;
}
.equalizer span:nth-child(4) {
  animation: load 1s 0.8s infinite linear;
}
.no-audio span:nth-child(4){
  animation: none !important;
}
.equalizer span:nth-child(5) {
  animation: load 1s 0.5s infinite linear;
}
.no-audio span:nth-child(5){
  animation: none !important;
}
.equalizer span:nth-child(6) {
  animation: load 1s 1.2s infinite linear;
}
.no-audio span:nth-child(6){
  animation: none !important;
}
/*vol_input
.volume-vertical{
  display: flex; 
  position: fixed; bottom: 73px;
  transform:rotate(-90deg);
  width: 80px;
}
.volume-none{display: none;}*/
#vol_input{display: none;}
/*Playlist elements*/
.row:after{
  content:"";
  display:table;
  clear:both;
}
span{
  display: block;
  padding: 8px 5px;
}
.row{
  border-bottom: 1px var(--light-sky) dashed;
}
.padding_10{padding: 10px;}
.padding_15{padding: 15px;}
.col3{width: 33%;/*33.33%*/}
.half_col{
  width: 25%;
  display: grid;
  place-items: center;
}
.col_50, .col2{width: 50%;}
.col_40{width: 40%;}
.col_20{width: 10%;}
/*img{filter: opacity(30%);}*/
.colArtist{
  width:65%;
  padding:10px 20px;}
.colImg{
  width:20%;
  height:75px;
  padding:5px;}
.colImg img{border-radius: 5px;}
.colTime{
  width: 15%;
  /*text-align: right;*/
  margin: 10px 0px;
  padding-right: 5px;
  padding-top: 5px;
}
/*iframe{border:none;}*/
#nowLabel{
  display: block;
  width: 100%;
  background-color: var(--wine);
  /*navy: #03314B*/
  padding:8px;
  margin-bottom: 10px;
  position: fixed;
  top:0;
  z-index: 100;
  float: none;
}
#nowLabel h2{margin: 0px;}

.bottomText{
  /*width: 60%;float: left;
  background-image: linear-gradient(var(--light-sky),var(--smoke));
  opacity: 0.4; bottom: -22px;  left:5px;  width: 360px;*/
  margin-top: 5px;
  border-radius: 10px;
  padding: 15px 0px; /*15px 20px;*/
  font-size: small;
  text-align: center;
  background-color: var(--dark-smoke);
  height: 280px;
}
.bottomText h2, .bottomText h3{
  line-height:2em;
  margin: 4px;
}
.bottomText a{color: var(--light-sky);}
.bottomText #more_info{padding-top:15px;}
.align-right{text-align: right;}
.headLabel{color: var(--lemon)}
.lighter{font-weight: 400;}
*{box-sizing: border-box;}
.bkg_cd_case{
  background-size:320px;
  background-image: url("../assets/cd_case.svg");
  background-repeat: no-repeat;
  background-position-x: center;
}
#nowPlaying{
  background-size:320px;
  background-image: url("../assets/cd_case.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  padding: 20px;/*50px 20px*/
  height: 300px;
  width: 50%;
}
#artwork{
  height: 400px;
  background-size: 320px;
  background-image: url("../assets/cd_case.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  /*padding-left: 10px;*/
}
.bkg_cd_icon{
  height: 280px;
  background-image: url("../assets/CD_icon.svg");
  background-repeat: no-repeat;
  background-position-x: right;
}
#coverCD img{
  margin-left: 25px;
}
#coverCD{
  height: 280px;
  background-size:280px;
  background-image: url("../assets/CD_icon.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  display: grid;
  place-items: center;
}
.contain{
  position: relative;
  padding: 20px;
  height: 280px;
  background-size:290px;
  background-image: url("../assets/CD_icon.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  text-align: center;
}
.contain img{
  margin-top: -9px;
  margin-left: 25px;
}
/*//.contain img border: 1px solid var(--light-sky);float: right;
  border-radius: 50%;4px;*/
.float_left{float: left;}
#playList{
  width: 50%;
  height: 90vh;
  overflow: auto;
}
/*Player controls*/
#i-play{
  /*position: fixed;
  bottom: 30px;*/
  margin-top: -12px;
}
/*#timerr{position: fixed;bottom: 60px;padding-left: 15px;}*/

.no-padding{padding: 0;}
.sp-margin{
  margin-top: -40px;
  padding-bottom: 12px;
}
.paused path{
  fill: var(--smoke);
  stroke: var(--smoke);
}
.paused circle{
  fill: var(--light-sky); /*var(--light-sky);*/
  stroke:var(--smoke);
}
.play_on circle{
  fill: var(--wine); /*var(--light-sky);*/
  stroke: var(--smoke);
}
.play_on path{
  fill: var(--light-sky);/*var(--wine);*/
  stroke: var(--light-sky);/*var(--wine);*/
}
#station_info{
  background-color: var(--dark-smoke);
  position: fixed;
  bottom: 58px;
  width: 100%;
}
@media (max-width:500px) {
  body{font-size: small;}
  #now_song{display: none;}
  #nowPlaying{
    background: none;/*url("../assets/group.svg") no-repeat;
    background-position-x: right;*/
    width: 100%;
    height: 480px !important;
  }
  .contain{
    width: 100%;
    padding: 0px;
    margin: 0;
    height: 340px;
    /*background: none;*/
  }
  .contain img{
    border-radius:10px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #timerr, #timer{font-size: 1rem !important;}
  #downLink img{width: 32px;}
  .bottomText{
    padding: 5px 5px 20px 13px;  
    margin-left: -20px;
    width: 100vw;
    text-align: left;
    height: auto;
    background-image: linear-gradient(var(--smoke),var(--dark-smoke));
  }
  .bottomText #more_info{display: none;}
  /*.bottomText h2{line-height: normal;}*/
  .colImg img{width: 64px;}
  .colArtist{padding: 5px;}
  #playList{
    padding-top: 55px;
    width: 100%;
    overflow: inherit;
    height: auto;
  }
  .equalizer{width: 50px;}
  .equalizer span:nth-child(5) {
    animation: none;
    display: none;
  }
  .equalizer span:nth-child(6) {
    animation: none;
    display: none;
  }
  .no_mobil{display: none;}
  .col_50{width: 80%;}
  .col_20{width: 20%;}
  .col2{width: 100%;}
  #amia{height: 100vh;}
  /*ul li:nth-child(4){text-align: center;}*/
}
/*@media (prefers-color-scheme: light){
  body{
    color:var(--smoke);
    background: var(--light-sky);
  }
}
@media (prefers-color-scheme:dark){
  body{
    color: var(--light-sky);
    background: var(--smoke);
  }
}*/
/*Equalizer elem animation*/
@keyframes load{
  0% {
    margin-top: 25%;
    height: 10%;
    background: var(--light-sky);
  }
  50% {
    height: 50%;
    margin-top: 0%;
    background: var(--light-sky);
  }
  100% {
    height: 10%;
    margin-top: 25%;
    background: var(--light-sky);
  }
}
/*@keyframes spin {
  100% { transform: rotate(360deg) translate(-50%,-50%); }
}*/
/*#schedList{width: 40%;float: left;}
#playList .row{background-color: var(--light-sky)40;color: var(--light-sky);}*/
/*.success_window{
  display: none;  position: fixed;
  z-index: 1;  left:0;
  top:30%;  padding: 20px;
  width: 100%;  height: 100%;
  overflow: auto;  background-color: var(--smoke)30;
}
.success-content{
  position:relative;
  background-color: var(--light-sky);
  margin:auto;  padding: 0;  width: 80%;
}
.success-header{
  padding: 2px 16px;
  background-color: #bed2e060;
}
.success-body{
  padding: 10px 0px;  color:var(--smoke);text-align: center;
}
.success-svg{
  width: 30%;height: 30%;
}
.closeBtn{
  color:var(--wine);
  float: right;  font-size: 28px;  font-weight: bold;
}*/
