:root{
  --smoke: #2e4054;
  --wine: #cc274c;
  --dark-smoke:#6a7285;
  --light-sky:#bed2e0;
  --darkish-sky:#bed2e040;
  --lemon: #ffeea6;
}
*{box-sizing: border-box;}
body{
    font-family: Helvetica Neue, sans-serif;
    background-color: var(--smoke); /*blackish#333;#2d2d2d;*/
    color:var(--light-sky);
    margin:0px;
}
nav.top-menu{
    display: block;
    width: 100%;
    box-sizing: inherit;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.navlink{
    position:relative;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
}
.navlink-off,.navlink-on{position:relative}
.navlink-off:after,.navlink-on:after{content:" ";display:block;margin:.125rem auto 0;width:0;height:.125rem;border-radius:.125rem;background:rgba(255,255,255,0);pointer-events:none;transition:all .4s ease}
.navlink-off:hover:after{width:100%;background:#bed2e0;}
.navlink-on:after{width:100%;background:#bed2e0;}
.inline-block{
    display: inline-block;
    vertical-align: top;
}
  
a{
    text-decoration: none;
    color: var(--light-sky);
}
ul{list-style-type: none;}
ul, li{margin: 0px;padding: 5px;}
ul li a{
    display: inline-flex;
    align-items: center;/*font-size: .8rem;*/
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.padding_10{padding: 10px;}
.align-right{text-align: right;}
.align-left{text-align: left;}
.clearfix::after{
    content:"";
    clear:both;
    display:table;
}
.col_50{width: 50%;}
.col3{width: 33%;/*33.33%*/}
.float_left{float: left;}
.no-desktop{display: none;}
@media (max-width:500px) {
    .col_50{width:100%;text-align: center;}
    #nav-menu{display: block;}
    nav.menu{
      bottom:0;
      position: -webkit-sticky;
      position: sticky;
      height: 56px;
      z-index: 2000;
      background-color: var(--light-sky);
    }
    nav.menu ul{  
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    nav.menu ul li a{
      display: inline-flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      font-size: .8rem;
    }
    .link-on{color: var(--wine);}
    .link-off{color: var(--smoke);}
    nav.menu ul li{flex: 1;}
    nav.menu ul li a img{width: 1.15rem;height: 1.15rem;}
}