:root{
  --smoke: #2e4054;
  --wine: #cc274c;
  --dark-smoke:#6a7285;
  --light-sky:#bed2e0;
  --darkish-sky:#bed2e040;
  --lemon: #ffeea6;
}
*{box-sizing: border-box;}
body{
    font-family: Helvetica Neue, sans-serif;
    background-color: var(--smoke); /*blackish#333;#2d2d2d;*/
    color:var(--light-sky);
    margin:0px;
}
a{
    text-decoration: none;
    color: var(--light-sky);
}
ul{list-style-type: none;}
ul, li{margin: 0px;padding: 5px;}
ul li a{
    display: inline-flex;
    align-items: center;/*font-size: .8rem;*/
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.col3{width: 33%;/*33.33%*/}
.float_left{float: left;}
@media (max-width:500px) {
    #nav-menu{display: block;}
    nav.menu{
      bottom:0;
      position: -webkit-sticky;
      position: sticky;
      height: 56px;
      z-index: 2000;
      background-color: var(--light-sky);
    }
    nav.menu ul{  
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    nav.menu ul li a{
      display: inline-flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      font-size: .8rem;
    }
    .link-on{color: var(--wine);}
    .link-off{color: var(--smoke);}
    nav.menu ul li{flex: 1;}
    nav.menu ul li a img{width: 1.15rem;height: 1.15rem;}
}