/*common css*/
:root{
    --smoke: #002b36;
    --wine: #dc322f;
    --dark-smoke: #073642;
    --light-sky: #bed2e0;
    --darkish-sky:#bed2e040;
    --lemon: #b58900;
    --blackish: #333;
    --blacky: #2d2d2d;
    --navy: #03314B;
    --orange: #f46b45;
    --mikan: #eea849;
    --blackish-blue: #0b1320;
    --magenta: #d33682;
    --cyan:#2aa198;
    --lime: #859900;
    --light-yellow: #eee8d5;
    --black-transparent:rgba(0,0,0,0.4);
}
body{
    font-family: Helvetica Neue, sans-serif;
    background-color: var(--smoke);
    color:var(--light-sky);
    margin:0px;
}
a{
    text-decoration: none;
    color: var(--light-sky);
}
.smoke-bkg{
    background-color: var(--black-transparent); /*var(--dark-smoke);*/
}
.linear_bkg {
    background: linear-gradient(rgba(0,0,0,0)30%,rgba(0,0,0,0.8));
    /*mask-image: linear-gradient(to top, transparent 0%, rgb(0, 0, 0) 100px);*/
}
.round-border{border-radius: 10px;}
.circle_border{border-radius: 50%;}
.small{font-size: small;}
.padding_10{padding: 10px;}
.padding_15{padding: 15px;}
.padding_5{padding: 5px;}

.half_col{
  width: 25%;
  display: grid;
  place-items: center;
}
.col90{width:90%}
.col70{
    width:70%;
    overflow: hidden;
}
.col60{width: 60%;}
.col_50, .col2, .col_half{width: 50%;}
.col_40{width: 40%;}
.col3{width: 33%;}
.col30{width: 30%;}
.col_20{width: 20%;}
.col15{width: 15%;}
.col10{width: 10%;margin: 0px;}
.float_left{float: left;}
.no-padding{padding: 0;}
.align-right{text-align: right;}
.align-left{text-align: left;}
.headLabel{
    color: var(--lemon);
    font-weight: bold;
}
.lighter{font-weight: 400;}
/*.moving-text:hover{animation-play-state: paused;}#timer{margin-top: -15px;}*/
.moving-text{
    animation: marque 40s linear infinite;
    float: left;
    white-space: nowrap;
}
.flexy{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.lexy{
    gap:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.centered{
    display: grid;
    place-items: center;
}
.oneLine{
    /*font-size: 13px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
kbd {
    font-size: large;
    border-radius: 2px;
    padding: 2px 4px;
    border: 1px solid var(--light-sky);
}
.bottom-10px{margin-bottom: 10px;}

#gifElm{margin-top: 10px;}
#player img{padding-top: 5px;}
/*Playlist elements*/
.row:after{
    content:"";
    display:table;
    clear:both;
}
span{
    display: block;
    padding: 6px 5px;
}
.contain{
    position: relative;
    padding: 20px;
    background-size:290px;
    text-align: center;
}
.contain img{
    margin-top: -9px;
    margin-left: 25px;
}
  
#playList{
    display: block;
    width: 50%;
    height: 80vh;
    overflow: auto;
}
#playList .row{
    border-bottom: 1px var(--light-sky) dashed;
}
#nowPlaying{
    background-position-y: bottom;
    padding: 20px;/*50px 20px*/
    height: 300px;
    width: 50%;
}
/*#play{ margin-top: -12px;}*/
.play_on path{
    fill: var(--light-sky);
    stroke: var(--light-sky);
}
.above_img{
    position: relative;
    top: -25%;/*50%;*/
    left: 50%;
    transform: translate(-50%,-50%);
}
.sp-margin{
  margin-top: -40px;
  padding-bottom: 12px;
}
.colTime{
    width: 15%;
    margin: 10px 0px;
    padding-right: 5px;
    padding-top: 5px;
}
#nowLabel{
    display: block;
    width: 100%;
    background-color: var(--wine);
    padding:8px;
    margin-bottom: 10px;
    position: fixed;
    top:0;
    z-index: 100;
    float: none;
}
#nowLabel h2, .close_btn h2{margin: 0px;}
.bottomText{
    /*width: 60%;float: left;
    background-image: linear-gradient(var(--light-sky),var(--smoke));
    opacity: 0.4; bottom: -22px;  left:5px;  width: 360px;*/
    margin-top: 5px;
    border-radius: 10px;
    padding: 15px 0px; /*15px 20px;*/
    font-size: small;
    text-align: center;
    background-color: var(--dark-smoke);
    height: 280px;
}
.bottomText h2, .bottomText h3{
    line-height:2em;
    margin: 4px;
}
.bottomText a{color: var(--light-sky);}
.bottomText #more_info{padding-top:15px;}
*{box-sizing: border-box;}
/*Equalizer elem anim*/
.equalizer {
    width: 60px; /*prev80px*/
    height: 35px;
    overflow: hidden;
    position: absolute;
    /*right: 10px;*/
}
.equalizer > div {
    width: 80px;/*45px;*/
    height: 100px;
    position: absolute;
    top: 5px;
    left: 0;
}
.equalizer span {
    display: block;
    width: 5px;
    height: 10%;
    margin: 25% 1px 0 2px;
    float: left;
    background: var(--light-sky);
}
.no-audio span{
    background: var(--smoke);
}
.equalizer span:nth-child(1) {
    animation: load 1s 1.2s infinite linear;
}
.no-audio span:nth-child(1){
    animation: none !important;
}
.equalizer span:nth-child(2) {
    animation: load 1s 0.5s infinite linear;
}
.no-audio span:nth-child(2){
    animation: none !important;
}
.equalizer span:nth-child(3) {
    animation: load 1s 1.4s infinite linear;
}
.no-audio span:nth-child(3){
    animation: none !important;
}
.equalizer span:nth-child(4) {
    animation: load 1s 0.8s infinite linear;
}
.no-audio span:nth-child(4){
    animation: none !important;
}
.equalizer span:nth-child(5) {
    animation: load 1s 0.5s infinite linear;
}
.no-audio span:nth-child(5){
    animation: none !important;
}
/* .equalizer span:nth-child(6) {animation: load 1s 1.2s infinite linear;}
.no-audio span:nth-child(6){animation: none !important;} */

#topBtn{
    display: none;
    position: fixed;
    bottom: 100px;
    right:15px;
    z-index: 99;
    border: none;
    background-color: var(--light-sky);
    border-radius: 70px;
    width: 48px;
    height: 48px;
}
#topBtn::before{
    color: var(--smoke);
    font-size: 2em;
    content: "\22bc";
}
#play_btn{
    display: none;
    position: fixed;
    bottom: 30vh;
    right: 20px;
    z-index: 99;
    border: none;
}
#music{padding-top: 50px;}

.beating_play{
    animation: beating 1.5s cubic-bezier(0,0,.2,1) infinite;
}
/*.beating_play img{
    margin-left: 5px;
}*/
.stop_beating{
    animation: none !important;
}
.svg_contain{
    position: relative;
    text-align: center;
}
.above_svg{
    position: absolute;
    bottom: 5%;
    /*left: 50%;
    transform: translate(-50%,-50%);*/
}
/*Equalizer elem animation*/
@keyframes load{
    0% {
      margin-top: 25%;
      height: 10%;
      background: var(--light-sky);
    }
    50% {
      height: 50%;
      margin-top: 0%;
      background: var(--light-sky);
    }
    100% {
      height: 10%;
      margin-top: 25%;
      background: var(--light-sky);
    }
  }
@keyframes marque{
    0%{transform: translateX(100%);}
    100%{transform: translateX(-100%);}
}
@keyframes beating{
    0% {
        transform: scale(1);
        opacity: 1;
    }
    75%{
        transform: scale(1.25);
        opacity: 0.25;
    }
    100%{
        transform: scale(1.5);
        opacity: 0;
    }
}