body{
  font-family: Helvetica Neue, sans-serif;
  background-color:#2e4054;
  color:#bed2e0;
  margin:0px;
}
a{
  text-decoration: none;
  color: #2e4054;
}
#topBtn{
  display: none;
  position: fixed;
  bottom: 70px;
  right:15px;
  z-index: 99;
  border: none;
  background-color: #cc274c;
  color: #bed2e0;
  border-radius: 70px;
  width: 50px;
  height: 50px;
}
#topBtn::before{
  color: #bed2e0;
  font-size: 2em;
  content: "\22bc";
}
ul{list-style-type: none;}
ul, li{margin: 0px;padding: 5px;}
#currSong{display: none;}
#player{
  display: block;
  width: 100%;
  background-color: #bed2e0;
  padding: 5px 0px;
  height: 48px;
}
#player img{
  padding-top: 5px;
}

#player ul{
  padding: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#player ul li a{
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-size: .8rem;
}
#player ul li{flex: 1;}
/*h1{font-size:1.5em;}*/
.row:after{
  content:"";
  display:table;
  clear:both;
}
span{
  display: block;
  padding: 8px 5px;
}
.row{
  border-top: 1px #bed2e0 dashed;
}
/*img{filter: opacity(30%);}*/
.colArtist{float:left;width:65%;padding:10px 20px;}
.colImg{float:left;width:20%;height:75px;padding:5px;}
.colImg img{border-radius: 5px;}
.colTime{
  float: left;
  width: 15%;
  text-align: right;
  margin: 10px 0px;
  padding-right: 5px;
  padding-top: 5px;
}
/*iframe{border:none;}*/
#nowLabel{
  display: block;
  width: 100%;
  background-color: #cc274c;
  padding:8px;
  margin-bottom: 10px;
  position: fixed;
  top:0;
  z-index: 100;
  float: none;
  /*box-sizing: content-box;*/
}
#nowLabel h2{margin: 0px;}

.contain{
  position: relative;
  width: 40%;
  float: left;
  border-radius: 10px;
  text-align: center;
}
.bottomText{
  width: 60%;
  float: left;
  /*border-radius: 10px;
  background-image: linear-gradient(#bed2e0,#2e4054);
  opacity: 0.4;
  position: absolute;
  bottom: -22px;
  left:5px;
  width: 360px;*/
  
  margin-top: 5px;
  padding: 20px 0px 20px 20px;
  background-color: #bed2e040;
  font-size: small;
  text-align: left;
}
.bottomText h2, .bottomText h3{
  line-height:2em;
  margin: 4px;
}
.align-right{text-align: right;}
/*.opaque{color: #bed2e030;}*/
.lighter{font-weight: 400;}
*{box-sizing: border-box;}
#nowPlaying{
  padding: 50px 20px;
  float: left;
}
#nowPlaying img{
  border: 5px solid #bed2e0;
  border-radius: 4px;
  padding: 0px;
}
#playList{width: 60%;float: left;}
/*#playList .row{background-color: #bed2e040;color: #bed2e0;}*/
/*.success_window{
  display: none;
  position: fixed;
  z-index: 1;
  left:0;
  top:30%;
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #2e405430;
}
.success-content{
  position:relative;
  background-color: #bed2e0;
  margin:auto;
  padding: 0;
  width: 80%;
}
.success-header{
  padding: 2px 16px;
  background-color: #bed2e060;
}
.success-body{
  padding: 10px 0px;
  color:#2e4054;
  text-align: center;
}
.success-svg{
  width: 30%;height: 30%;
}
.closeBtn{
  color:#cc274c;
  float: right;
  font-size: 28px;
  font-weight: bold;
}*/

@media (max-width:500px) {
  body{
    font-size: small;
  }
  #nowPlaying{
    width: 100%;
    height: 470px !important;
  }
  .contain{width: 100%;}
  #nowPlaying img{
    border:0px;width: 100%;
  }
  #downLink img{width: 32px;}
  .bottomText{
    padding: 5px 0px 5px 13px;  
    margin-left: -20px;
    width: 100vw;
  }
  .bottomText h3{display: none;}
  .bottomText h2{line-height: normal;}
  .colImg img{width: 64px;}
  .colArtist{padding: 5px;}
  #playList{width: 100%;}
}
