/*Player2 CSS*/
.player2{
    gap: .375rem;
    display:flex;
    justify-content:center;
    align-items: center;
}
.player_item{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0
    /*margin: 0px;
    padding: 0px;*/
}

@media (max-width: 700px) {
    #cover_art img{
        width: 40px;
        height: 40px;
    }
    #cover_title{width:70%;}
    .player2{width: 30%;}
}
