/*Player2 CSS*/
.player2{
    gap: .375rem;
    display:flex;
    justify-content:center;
    align-items: center;
}
.player_item{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0
    /*margin: 0px;
    padding: 0px;*/
}

@media (max-width: 700px) {
    #cover_art img{
        width: 40px;
        height: 40px;
    }
    #cover_title span{
        color:var(--lemon);
        position: absolute;
        bottom: 15px;
    }
    #cover_title span:nth-child(1){
        font-size: large;
        font-weight:900;
    }
    #cover_title span:nth-child(2){
        font-size: medium;
    }
    .player2{
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: 0px 10px;
    }
}
