main{
  position: relative;
  top: 70px;
}
kbd {
  font-size: large;
  border-radius: 2px;
  padding: 2px 4px;
  border: 1px solid var(--light-sky);
}

.bottom-10px{margin-bottom: 10px;}
.dashed-border{
  border: 1px dashed var(--light-sky);
}

/* Bottom menu and player*/
#currSong, #vol_input, .closeBtn, #list-icon, #listIcon{display: none;}
#player, #player2{
  display: block;
  position: fixed;
  top: 0;
  z-index: 100;
  float:none;
  box-sizing: content-box;
  width: 100%;
  background-color: var(--dark-smoke);
  padding: 5px 0px;
}
#player{height: 48px;}
#player2{height: 64px;}
#player2 #gifElm{margin-top: 10px;}
#player img{padding-top: 5px;}

/*vol_input
.volume-vertical{
  display: flex; position: fixed; bottom: 73px;
  transform:rotate(-90deg);  width: 80px;
}.volume-none{display: none;}*/
/*Playlist elements*/
.row:after{
  content:"";
  display:table;
  clear:both;
}
span{
  display: block;
  padding: 6px 5px;
}
#playList .row{
  border-bottom: 1px var(--light-sky) dashed;
}

/*img{filter: opacity(30%);}*/
.colArtist{
  width: 65%;
  padding: 5px 10px;}
.colImg{
  width: 20%;
  padding: 7px;
}
.colImg img, .col15 img{border-radius: 5px;}
.colTime{
  width: 15%;
  margin: 10px 0px;
  padding-right: 5px;
  padding-top: 5px;
}
#nowLabel{
  display: block;
  width: 100%;
  background-color: var(--wine);
  padding:8px;
  margin-bottom: 10px;
  position: fixed;
  top:0;
  z-index: 100;
  float: none;
}
#nowLabel h2, .close_btn h2{margin: 0px;}

.bottomText{
  /*width: 60%;float: left;
  background-image: linear-gradient(var(--light-sky),var(--smoke));
  opacity: 0.4; bottom: -22px;  left:5px;  width: 360px;*/
  margin-top: 5px;
  border-radius: 10px;
  padding: 15px 0px; /*15px 20px;*/
  font-size: small;
  text-align: center;
  background-color: var(--dark-smoke);
  height: 280px;
}
.bottomText h2, .bottomText h3{
  line-height:2em;
  margin: 4px;
}
.bottomText a{color: var(--light-sky);}
.bottomText #more_info{padding-top:15px;}
.align-right{text-align: right;}
.align-left{text-align: left;}
.headLabel{
  color: var(--lemon);
  font-weight: bold;
}
.lighter{font-weight: 400;}
*{box-sizing: border-box;}
.bkg_cd_case{
  background-size:320px;
  background-image: url("../assets/cd_case.svg");
  background-repeat: no-repeat;
  background-position-x: center;
}
#nowPlaying{
  background-position-y: bottom;
  padding: 20px;/*50px 20px*/
  height: 300px;
  width: 50%;
}

.bkg_cd_icon{
  height: 280px;
  background-image: url("../assets/CD_icon.svg");
  background-repeat: no-repeat;
  background-position-x: right;
}
#coverCD img{margin-left: 25px;}
#coverCD{
  background-size:280px;
  display: grid;
  place-items: center;
}
.contain{
  position: relative;
  padding: 20px;
  background-size:290px;
  text-align: center;
}
.contain img{
  margin-top: -9px;
  margin-left: 25px;
}

#playList{
  display: block;
  width: 50%;
  height: 80vh;
  overflow: auto;
}
/*Player controls*/
#play{
  /*position: fixed;bottom: 30px;*/
  margin-top: -12px;
}
.sp-margin{
  margin-top: -40px;
  padding-bottom: 12px;
}
.paused path{
  fill: var(--smoke);
  stroke: var(--smoke);
}
.paused circle{
  fill: var(--light-sky);
  stroke:var(--smoke);
}
.play_on circle{
  fill: var(--wine);
  stroke: var(--smoke);
}
.play_on path{
  fill: var(--light-sky);
  stroke: var(--light-sky);
}
#station_info{
  background-color: var(--dark-smoke);
  position: fixed;
  bottom: 58px;
  width: 100%;
}
#stat_name h3{margin:0px;}

#cover_title{padding-left: 10px;}
#cover_art{
  position: relative;
  text-align: center;
}
/*#cover_art img{
  filter: opacity(50%);blur(1px);
}*/
.above_img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#timer{margin-top: -15px;}


table {
  /*table-layout: fixed;border: 3px solid purple;*/
  width: 100%;
  border-collapse: collapse;
}
table td{
  padding: 4px 5px;
  /*letter-spacing: 1px;*/
}
table th{text-align: left;}
#artwork .smoke-bkg{height: 220px;}
#artwork{display: none;}

@media (max-width: 700px) {
  body{font-size: small;}
  #amia{height: 115vh;}
  #now_song, .no_mobil {display: none;}
  #nowPlaying{
    background: none;/*url("../assets/group.svg") no-repeat;
    background-position-x: right;*/
    width: 100%;
    height: 480px !important;
  }
  .contain{
    width: 100%;
    padding: 0px;
    margin: 0;
    height: 340px;
  }
  .contain img{
    border-radius:10px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .colTime span {font-size: 0.9rem !important;}
  /*#timerr, #timer_0, #timer_1, #timer_2, #timer_3, #timer_4{}*/
  #downLink img{width: 32px;}
  .bottomText{
    padding: 5px 5px 20px 13px;  
    margin-left: -20px;
    width: 100vw;
    text-align: left;
    height: 240px;
    background-image: linear-gradient(var(--smoke),var(--darkish-sky));
  }  
  /*.bottomText h2{line-height: normal;}*/
  .colImg img{
    width: 64px;
    height: 64px;
  }
  .colImg{padding: 10px 5px;}
  .colArtist{padding: 5px;}
  #playList{
    display: none;
    width: 100%;
    overflow: auto;
    height: 90vh;
  }
  .equalizer{width: 50px;}
  .equalizer span:nth-child(5) {
    animation: none;
    display: none;
  }
  /*.equalizer span:nth-child(6) {
    animation: none;display: none;}*/ 
   
  .col_50{width: 80%;}
  .col2{width: 100%;}
  .col70{width: 100%;overflow:visible;}
  .half_col{width: 50%;}
  #listIcon{display: block;}
  #list-icon{
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: var(--light-sky);
    border: 1px solid var(--light-sky);
  }
  /*ul li:nth-child(4){text-align: center;}*/
}
/*@media(prefers-reduced-motion: no-preference){
  .moving-text{animation: marque 20s linear infinite;}
}
@media (prefers-color-scheme: light){
  body{
    color:var(--smoke);
    background: var(--light-sky);
  }
}
@media (prefers-color-scheme:dark){
  body{
    color: var(--light-sky);
    background: var(--smoke);
  }
}*/
